.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  height: 80px;
  box-shadow: 0 2px 8px rgba(var(--color-dark-rgb), .5);
  z-index: 2;
  background: rgb(var(--color-primary-rgb));
  color: rgb(var(--color-white-rgb));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.5em;
}
