.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  height: 80px;
  border-bottom: 1px solid rgb(var(--color-gray-rgb));
  box-shadow: 0 -1px 2px 1px rgba(var(--color-gray-rgb), .9);
  z-index: 2;
  background: rgb(var(--color-primary-rgb));
  color: rgb(var(--color-white-rgb));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.5em;
}
