.actionsBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: transparent;
}

.actionButton {
  width: 70px;
  height: 70px;
  background: rgba(var(--color-primary-rgb), .9);
  cursor: pointer;
}

.actionButton:hover {
  background: rgba(var(--color-primary-rgb), 1);
  box-shadow: 0 0 6px rgba(var(--color-gray-rgb), 0.2);
}

.actionsBar.disabled .actionButton {
  background: rgba(var(--color-primary-rgb), .4);
  cursor: default;
}