.actionsBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: transparent;
}

.actionButton {
  width: 70px;
  height: 70px;
  background: rgba(var(--color-primary-rgb), .8);
  cursor: pointer;
}

.actionButton:hover {
  background: rgba(var(--color-primary-rgb), 1);
}